In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Titanic-Dataset.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data.isnull().sum().sum()

866

In [ ]:
data = data.fillna(0)
data.isnull().sum().sum()

0

In [ ]:
print(data.nunique())
print(data.min())
print(data.max)

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             89
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          148
Embarked         4
dtype: int64
PassengerId                      1
Survived                         0
Pclass                           1
Name           Abbing, Mr. Anthony
Sex                         female
Age                            0.0
SibSp                            0
Parch                            0
Ticket                      110152
Fare                           0.0
dtype: object
<bound method NDFrame._add_numeric_operations.<locals>.max of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500     0        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     0        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500     0        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000     0        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500     0        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500     0        Q

[891 rows x 12 columns]>

<ipython-input-5-91a58860f6d0>:2: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(data.min())

In [ ]:
print("Процент выживших мужчин", data[(data.Survived == 1) & (data.Sex == 'male')]['PassengerId'].count()/data[(data.Sex == 'male')]['PassengerId'].count() * 100)
print("Процент выживших женщин", data[(data.Survived == 1) & (data.Sex == 'female')]['PassengerId'].count()/data[(data.Sex == 'female')]['PassengerId'].count() * 100)

Процент выживших мужчин 18.890814558058924
Процент выживших женщин 74.20382165605095

In [ ]:
print(f"Процент выживших пассажиров 1го класса - {data[(data.Pclass == 1) & (data.Survived == 1)]['PassengerId'].count()/data[(data.Pclass == 1)]['PassengerId'].count()*100}")
print(f"Процент выживших пассажиров 2го класса - {data[(data.Pclass == 2) & (data.Survived == 1)]['PassengerId'].count()/data[(data.Pclass == 2)]['PassengerId'].count()*100}")
print(f"Процент выживших пассажиров 3го класса - {data[(data.Pclass == 3) & (data.Survived == 1)]['PassengerId'].count()/data[(data.Pclass == 3)]['PassengerId'].count()*100}")

Процент выживших пассажиров 1го класса - 62.96296296296296
Процент выживших пассажиров 2го класса - 47.28260869565217
Процент выживших пассажиров 3го класса - 24.236252545824847